<launch>
    <group ns="cortex">
        <node name="monitor"
              pkg="cortex"
              type="monitor.py"
              respawn="true"
              respawn_delay="10"
              output="screen" >
        </node>

        <node name="worker"
              pkg="cortex"
              type="worker.py"
              respawn="false"
              respawn_delay="10"
              output="screen" >
        </node>

        <node name="annotator"
              pkg="cortex"
              type="annotator.py"
              respawn="true"
              respawn_delay="10"
              output="screen" >
        </node>

        <node name="snapshot"
              pkg="cortex"
              type="snapshot.py"
              respawn="false"
              output="screen" >
        </node>
    </group>
</launch>
