<launch>
    <arg name="monitor_hz" default="1.0" />
    <group ns="cortex">
        <node name="monitor"
                  pkg="cortex"
                  type="monitor.py"
                  respawn="true"
                  respawn_delay="10"
                  output="screen" >
            <param name="monitor_hz" type="double" value="$(arg monitor_hz)" />
        </node>
    </group>
</launch>
